redshift-connector==2.1.8
sqlalchemy-redshift==0.8.14
dotenv==0.9.9
langchain>=0.0.350
langchain-experimental>=0.0.47
langchain-anthropic>=0.3.20
langchain-community>=0.3.29
langchain-core>=0.3.76
langgraph>=0.6.0
duckdb==1.4.0
streamlit>=1.50.0